.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 60px;
  background-color: white;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  grid-gap: 0.5rem;
  align-items: center;
  font-size: 0.7rem;
  list-style: none;
  cursor: pointer;
  margin-right: 1.7rem;
  font-weight: bold;
}
nav h3 {
  margin-left: 1rem;
  font-size: 0.7rem;
  font-weight: lighter;
  cursor: pointer;
  text-transform: uppercase;
}
.nav button {
  margin: 10px;
}
@media (max-width: 600px) {
  nav h3 {
    margin-left: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .nav ul {
    display: flex;
    /* display: none; */
    justify-content: space-around;
    list-style: none;
    grid-gap: 0.5rem;
    align-items: center;
    font-size: 0.5rem;
    list-style: none;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: bold;
  }
  .ul li {
    display: none;
  }

  .modal {
    height: 200px;
    /* position: fixed; */
    width: 96%;
    background: black;
    z-index: -100;
    margin-right: 10px;
    margin-left: 10px;

    color: white;
  }
  .modal ul {
    padding: 10px;
    padding-bottom: 50px;
    list-style: none;
  }
  .modal li {
    padding: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    cursor: pointer;
  }
  .modal li:hover {
    background-color: white;
    color: black;
  }
}
@media (min-width: 600px) {
  nav button {
    display: none;
  }
  .modal {
    display: none;
  }
}
@media (min-width: 961px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 70px;
    background-color: white;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    grid-gap: 2.5rem;
    align-items: center;
    font-size: 0.8rem;
    list-style: none;
    cursor: pointer;
    margin-right: 4rem;
  }
  nav h3 {
    margin-left: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  .modal {
    display: none;
  }
}
